.post-header{
    color: #FFFFFF;
    background-color: #181818;
    padding: 10px 20px;
    border: solid 1px #181818;
    width: 40vw;
    border-bottom: 1px solid #FFFFFF;
}

.post-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFFFFF;
    background-color: #181818;
    align-items: flex-start; /* 양쪽 끝이 아니라 시작점에서 정렬 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 40vw;
}
