.post-header{
    color: #FFFFFF;
    background-color: #181818;
    padding: 10px 20px;
    border: solid 1px #181818;
    width: 40vw;
    border-bottom: 1px solid #FFFFFF;
}

.post-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFFFFF;
    background-color: #181818;
    align-items: flex-start; /* 양쪽 끝이 아니라 시작점에서 정렬 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 40vw;
}

.post-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.edit-button, .delete-button {
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: #4CAF50; /* 녹색 */
    color: white;
}

.delete-button {
    background-color: #f44336; /* 빨간색 */
    color: white;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.post-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 높이에 대한 정렬을 중앙으로 설정합니다. */
}

.title-info-item, .title-info-item2 {
    display: flex;
    align-items: center; /* 내부 요소들이 중앙으로 정렬되도록 합니다. */
}
