/* NewsListPage.css */
#news_page_container {
    background-color: #333;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

#news_page_header {
    color: white;
    border-bottom: solid 3px #008080;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight:bold;
    text-shadow:2px 2px 4px #000000
}

.news-card {
    background-color:#666;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
    display:flex;
    align-items:center
}

.news-list-content {
    max-height: 111px;
    overflow: hidden;
}

.news-image {
    width:200px;
    height:auto;
    margin-right:20px
}

.news-link {
    text-decoration:none
}

.news-list-title {
    color:white;
    font-weight:bold
}

.news-desc {color:white}
