.Nav-bar{
    width: auto;
    height: 10%;
    min-height: 70px;
    display: flex;
    gap: 8px; /*자식요소간의 간격 */
    align-items: center;
    background-color: #FA5C81;
}
.header_right{
    height: auto;
    width: auto;
    margin-left: 72%;
}

.neon{
    margin-left: 0.5%;
    color: #f8f2f2;
    font-weight: bold;
}

#dropDown {
    background-color: #46cfa7;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
#dropDown:hover,
#dropDown:active
{
    background-color:#379237;
    border-color : #379237;
    color: white;
}

#HeaderBar {
    background-color: #040404;
}


@media (max-width: 992px) {
    #HeaderBar {
        flex-flow: column nowrap;
        padding-bottom: 15px;
    }

    #HeaderBar .navbar-collapse {
        flex-basis: auto;
    }

}

/* HeaderLink.css */

.link-style {
    text-decoration: none;
    color: white;
}

.dropdown-link-style {
    text-decoration: none;
    color: black;
}
